li {
  width: 1rem;
  height: 0.8rem;
  border: 0.01rem solid #000000;
}

.listStyle {
  list-style: none;
  font-size: 0.2rem;
}

.alistStyle {
  text-decoration: none;
  display: inline-block;
  padding: 0.1rem 0.2rem;
  text-align: center;
  color: #000;
}