$color:#aaa;
li {
    width: 200px;
    height: 80px;
    border: 1px solid $color;
}

.btn-group {
    .listStyle {
        list-style: none;
        font-size: 20px;
    }
    .alistStyle {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        color: $color;
        animation: aaa 3s linear infinite;
    }
}
@keyframes aaa{
    0% {
        width:0;
    }
    100%{
        width:300px;
    }
}
