li{
    width: 100px;
    height: 80px;
    border: 1px solid #000000;
}
.listStyle{
    list-style: none;
    font-size: 20px;
}
.alistStyle{
    text-decoration:none;
    display:inline-block;
    padding:10px 20px;
    text-align:center;
    color:#000
}